
.w3-theme-kv {color:#dfb220 !important; background-color:#321a12 !important}
.w3-theme-kvsave {color:#D0AB25 !important; background-color:#325563 !important}
.w3-theme-kv1 {color:#360a07 !important; background-color:#E2DAC1 !important}
.w3-theme-kv2 {color:#601610 !important; background-color:#d6c68f !important}
.w3-theme-kv3 {color:#000 !important; background-color:#e6a756 !important}
.w3-theme-kv4 {color:#325563 !important; background-color:#D0AB25 !important}

.w3-theme-sw1 {color:#E2DAC1 !important; background-color:#74332e !important}
.w3-theme-sw2 {color:#f7f2e5 !important; background-color:#459c48  !important}
.w3-theme-sw3 {color:#f7f2e5 !important; background-color:#a25f7d  !important}
.w3-theme-sw4 {color:#2f4e5b !important; background-color:#dfe345  !important}


.w3-theme-l5 {color:#000 !important; background-color:#f4faf4 !important}
.w3-theme-l4 {color:#000 !important; background-color:#dbefdc !important}
.w3-theme-l3 {color:#000 !important; background-color:#b7dfb8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#93cf95 !important}
.w3-theme-l1 {color:#f7f2e5 !important; background-color:#6ec071 !important}
.w3-theme-d1 {color:#f7f2e5 !important; background-color:#459c48 !important}
.w3-theme-d2 {color:#f7f2e5 !important; background-color:#3d8b40 !important}
.w3-theme-d3 {color:#f7f2e5 !important; background-color:#357a38 !important}
.w3-theme-d4 {color:#f7f2e5 !important; background-color:#2e6830 !important}
.w3-theme-d5 {color:#f7f2e5 !important; background-color:#265728 !important}

.w3-theme-light {color:#000 !important; background-color:#f4faf4 !important}
.w3-theme-dark {color:#f7f2e5 !important; background-color:#265728 !important}
.w3-theme-action {color:#f7f2e5 !important; background-color:#265728 !important}

.w3-theme {color:#f7f2e5 !important; background-color:#4caf50 !important}
.w3-text-theme {color:#4caf50 !important}
.w3-border-theme {border-color:#4caf50 !important}

.w3-hover-theme:hover {color:#f7f2e5 !important; background-color:#4caf50 !important}
.w3-hover-text-theme:hover {color:#4caf50 !important}
.w3-hover-border-theme:hover {border-color:#4caf50 !important}